body{
  font-family: 'Roboto', sans-serif;
}
.container{
  margin-top:2%;
}

#list{
  padding:0px;
  margin:0px;
}

.listItem{
  padding: 1%;
  margin-bottom:0%;
  margin-left:0%;
}

.right, .delete{
  text-align:center;
}

.delete{
  cursor:pointer;
}

.delete:hover{
  
}

.inputFields{
  display:none;
}

.tCount{
  color:#CECECE;
  text-align:center;
}

.taskCount{
  font-weight:bold;
}




