@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:grey;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  border-color: grey;
  font-size: 18px;
  border-width: 0 0 2px 0;
  line-height: 22px;
  background-color: transparent;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}


textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}


