html, body {
    margin: 0;
    padding: 0;
}

.wrapper,
body,
html {
    width: 100%;
    height: 100%
}

.wrapper {
    position: relative;
    /*overflow: hidden*/
}

.navbar-nav ul li a {
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-nav ul li a:hover {
    color: red;
    background: transparent;
}

section {
    text-align: center;
    height: auto !important;
    min-height: 100%;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo-mobile {
    display: none;
}

#loading_home {
    height: 100% !important;
    width: 100%;
    background-color: #1d1e22;
    background-size: cover;
    position: fixed; /*enlever si besoin*/
    top: 0; /*enlever si besoin*/
    left: 0; /*enlever si besoin*/
    transition: all 1.5s;
    z-index:900000;
}

#loadCercle{
    animation: rotate 5s infinite linear;
}
@keyframes rotate{ 0%{ transform: translate(-50%, -50%) rotate(0deg);} 100%{transform: translate(-50%, -50%) rotate(360deg);}}



#first_home {
    transition: 0.8s;
    background-color: #1d1e22;
}

.studio_first {
    background-color: transparent;
}

.studio_second {
    background-image: url("../assets/img/bg-section1.jpg");
}

#first_home video {
    position: fixed; /*enlever si besoin*/
    top: 0; /*enlever si besoin*/
    left: 0; /*enlever si besoin*/
    background-color: black;
}

#second_home {
    width: 100%;
    /*background-color:rosybrown;*/
    background-size: cover;
    position: fixed; /*enlever si besoin*/
    top: 100%; /*enlever si besoin*/
    left: 0; /*enlever si besoin*/
    transition: top 0.8s;
}

#trois_home {
    width: 100%;
    /* background-color:#17423C;*/
    background-color: #191f27;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

#quatre_home {
    width: 100%;
    background-color: #161c23;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

#cinq_home {
    width: 100%;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

.studio_cinq {
    background-color: #161c23;
}

/* ####### PAGE PROJET ###### */

#projet_1 {
    background-image: url("../assets/img/bg_equipe1.jpg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#projet_2 {
    background-image: url("../assets/img/bg_equipe2.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#projet_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title_project {
    position: fixed;
    z-index: 9000;
    font-size: 50px;
    top: 50%;
    transition: 0.8s;
}

.title_project ul {
    list-style: none;
}

.title_project ul li {
    cursor: pointer;
    transition: all 0.8s;
}

.title_project ul li.active {
    font-size: 65px;
}

/* ####### FIN PAGE PROJET ###### */

/* ####### PAGE EQUIPE ###### */

.equipe_first {
    background-color: black;
}

.equipe_first h1 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}

.equipe_second {
    background-color: grey;
}

.equipe_second h1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
}

/* ####### FIN PAGE EQUIPE ###### */

/* ####### PAGE CONTACT ###### */

.text_contact {
    margin-top: 30px;
}

.text_contact p {
    font-size: 17px;
}

/* ####### FIN PAGE CONTACT ###### */

.text_section {
    margin-top: 40px;
    font-size: 19px;
}

/* ###### SECTION 1 ###### */

.global_text_section1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.title_section_1 {
    margin: 0 auto;
    color: white;
    font-size: 27px;
}

.text_section_1 {
    color: white;
    font-size: 16px;
    margin-top: 40px;
    text-align:center;
}

.button_section_player {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.button_section_player:hover{
    color: #ffffff;
    background-color: #eedecb;
    border: 2px #eedecb solid;
}

#imgplayer{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px #dac9ae solid;
    line-height: 32px;
    margin-left: 8px;
    padding-left: 4px;
}
.button_section_player:hover #imgplayer {
    border: 2px #fff solid;
}

.btn-experience a{
    color:white;
}

.btn-experience a:hover{
    text-decoration: none;
    color:white;
}

.btn-experience{
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
}


.btn_section_player img {
    margin-left: 20px;
    margin-bottom: 3px;
}

.img_middle_section_first {
    background-image: url("../assets/img/circle-white.png");
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%) scale(1);
}

.logo-small {
    position:absolute;
    z-index:9000;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
}



/* ###### FIN SECTION 1 ###### */

/* ###### SECTION 2 : EXPERT ###### */

.image-expert {
    width: 250px;
    height: 250px;
}

.expert_global {
    margin-top: 10%;
    margin-left: 7%;
}

.title_section_2 {
    text-align: left;
}

.text_section_2 {
    color: white;
    font-size: 16px;
    margin-top: 40px;
    text-align: left;
}

.button_section_expert {
    width: 280px;
    font-size: 20px;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
}

.title_section {
    font-size: 24px;
    margin-top:13%;

}

/* ###### FIN SECTION 2 : EXPERT ###### */


.img_middle_section_first{
    background-image:url("../assets/img/circle-white.png");
    background-repeat:no-repeat;
    background-size: cover;
    width:580px;
    height:580px;
    position:absolute;
    top:50%;
    left:50%;
    transition: all 2s ease;
    transform: translate(-50%, -50%)  rotate(0deg) scale(0);
    transform-origin: center center;
}
/*
@keyframes scaleC {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
}
*/
.current .img_middle_section_first.c1 {
    transform: translate(-50%, -50%) rotate(0deg)  scale(1);
}
.current .img_middle_section_first.c2 {

    transform: translate(-50%, -50%) rotate(-4deg) scale(.982) ;
}
.current .img_middle_section_first.c3 {

    transform: translate(-50%, -50%) rotate(-6deg) scale(.98) ;
}
.current .img_middle_section_first.c4 {

    transform: translate(-50%, -50%) rotate(-7deg) scale(.978) ;

}

.section_team h2 {
    color: #cfb995;
}

.section_team {
    margin-top:10%;
}


/* ###### FIN SECTION 3 : TEAM ###### */

/* ###### PAGE EXPERIENCE ###### */

.img-experience {;
    background-image: url("../assets/img/bg-experience/bg_amour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .7s
}


.img-experience .img_circle_exper {
    border: 15px solid rgba(0, 0, 255, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .7s;
}

.img-experience .img_circle_exper:hover {
    border: 15px solid rgba(94, 94, 92, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .7s;
}

.text_equipe {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 17px;
}

.title_nom_experience h1 {
    margin-top: 50px;
    font-size: 80px;
    font-weight: 600;
    color: white;
}



.emotion {
    animation: emotion 1.2s;
    text-transform: uppercase;
}

@keyframes emotion {
    0% {
        /*
        text-shadow: 0 0 50px #fff;
        */
        filter: blur(5px);
        -webkit-filter :blur(5px);

    }
    100% {
        /*
        text-shadow: 0 0 0px #fff;
        */
        filter: blur(0px);
        -webkit-filter :blur(0px);

    }

}
.name_sentiment{

    transition: all 2s;
}

/* ###### FIN PAGE EXPERIENCE ###### */

/* ###### MOUSE EFFET ###### */

.mouse-wrapper {
    opacity: 1;
}

.mod-section-home div.mouse-wrapper .mouse {
    bottom: 35px;
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 37px;
    background-image: url("../assets/img/mouse.png");
    background-size: 100%;
    left: 50%;
    margin-left: -11px;
}

.mod-section-home div.mouse-wrapper .mouse > span.dot {
    width: 5px;
    height: 8px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    animation-fill-mode: forwards;
    -webkit-animation: Kb 1.2s infinite;
    animation: Kb 1.2s infinite;
    -webkit-animation-fill-mode: forwards;

}

.mod-section-home div.mouse-wrapper.animout {
    -webkit-animation: Jb 1s 1;
    animation: Jb 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.mod-section-home div.mouse-wrapper.anim {
    -webkit-animation: Pb 1s 1s 1;
    animation: Pb 1s 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.mod-section-home div.mouse-wrapper.anim-finish {
    opacity: 1
}

@-webkit-keyframes Kb {
    0% {
        opacity: .2;
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px)
    }
}

/* ###### FIN MOUSE EFFET ###### */

/* ###### DOTSTYLE MENU ###### */

.mod-navigation.open {
    width: 250px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mod-navigation.open .nav-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    right: 0;
}

.mod-navigation.open .nav-icon span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.mod-navigation.open .nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
    right: 0;
}

.mod-navigation {
    background-color: #000;
    z-index: 10;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: fixed;
    right: 0;
    height: 100%;
    width: 60px;
}

.mod-navigation .nav-icon {
    width: 26px;
    height: 20px;
    right: 18px;
    top: 40px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9;
}

.mod-navigation .nav-icon,
.mod-navigation .nav-icon span {
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.mod-navigation .nav-icon span {
    display: block;
    height: 1px;
    background: #9f9e9a;
    opacity: 1;
    right: 0;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border-radius: 3px;
    width: 24px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    border: 1px solid hsla(48, 3%, 61%, .7);
}

.mod-navigation .nav-icon span:nth-child(1) {
    top: 0;
}

.mod-navigation .nav-icon span:nth-child(2) {
    top: 8px;
}

.mod-navigation .nav-icon span:nth-child(3) {
    top: 17px;
}

.mod-navigation .menuList {
    background-color: #1a1a1a;
    display: block;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 96px 0 20px 54px;
    top: 0;
    z-index: 4;
}

.mod-navigation .menuList > li {
    margin-bottom: 20px;
}

.mod-navigation .menuList > li a {
    color: #e1e1e1;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    padding-right: 22px;
    position: relative;
    white-space: nowrap;
    vertical-align: bottom;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}

.mod-navigation .menuList > li a:before {
    border-radius: 50%;
    background-color: #282828;
    content: " ";
    display: inline-block;
    height: 11px;
    width: 11px;
    position: relative;
    -webkit-transform: translate(-30px);
    transform: translate(-30px);

}

.mod-navigation .menuList > li a.active:before {
    background-color: #e1e1e1;
}

.mod-navigation .menuList > li a:hover {
    text-decoration: none;
}

.mod-navigation .menuList > li a > span {
    display: block;
}

.mod-navigation.open .menuList {
    left: 0;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.mod-navigation .metaList {
    left: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 4;
}

.mod-navigation .metaList > li {
    list-style-type: none;
    margin: 0;
}

.mod-navigation .metaList > li a {
    border-bottom: 1px solid #1a1a1a;
    color: #e1e1e1;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
    padding: 15px 22px 15px 60px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    text-decoration: none;
    outline: none;
}

.mod-navigation .metaList > li a.active {
    background-color: #1a1a1a;

}

.mod-navigation .metaList > li a:hover {
    text-decoration: none;
}

.mod-navigation .metaList > li a:hover > .fleche_list {
    left: -32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mod-navigation.open .metaList {
    left: 0;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.fleche_list {
    position: absolute;
    left: -40px;
}

/*SOCIAL NETWORK*/

.mod-navigation.open .socialNet {
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out
}

.mod-navigation .socialNet {
    width: 100%;
    left: 300px;
    bottom: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 4;
}

.mod-navigation .socialNet > li {
    list-style-type: none;
    margin: 0;
    display: inline-block;

}

.mod-navigation .socialNet > li a {
    color: white;
    font-size: 14px;
    padding: 15px;
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    outline: none;
}

.mod-navigation.open .socialNet {

    left: 20px;
    bottom: 35px;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.mod-navigation .socialNet > li a.active {
    background-color: #1a1a1a;

}

/* ###### FIN DOTSTYLE MENU ###### */

/* ###### VIDEO HOME ###### */

.video-btn-wrapper .video-btn {
    margin: 0 auto;
    width: 157px;
    height: 108px;
    background-image: url("../assets/img/btn-play.png");
    margin-top: 8%;
}

.video-btn-wrapper .video-btn:hover {
    cursor: pointer;
    -webkit-animation: a 1.5s steps(50) 1;
    animation: a 1.5s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes a {
    0% {
        background-position: 0
    }
    to {
        background-position: -7850px
    }
}

@keyframes a {
    0% {
        background-position: 0
    }
    to {
        background-position: -7850px
    }
}

/* ###### FIN VIDEO HOME ###### */

.text_first_home {
    margin-top: 100px;
}

.text_first_home p {
    font-size: 25px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.text_first_home p.home_description {
    font-size: 15px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 7%;
}

.title_home {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 55px;
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
}

.title_home > span {
    border-bottom: 2px solid #e1e1e1;
}

.fleche {
    position: absolute;
    bottom: 35px;
    left: 50%;
    color: white;
}

.fleche:hover {
    color: grey;
    cursor: pointer;
}

.list_home {
    height: 100%;
}

.img_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

video {
    z-index: -2;
}

.img {
    margin: 0 auto;
    display: block;
    margin-top: 13%;
    z-index: 9000;
}

.text_const {
    font-size: 50px;
    font-weight: 700;
}

#signup-form {
    margin-top: 20px;
    font-size: 15px;
}

.newsletter {
    color: #fff;
    margin-bottom: 15px;
    font-size: 17px;
}

/* #name {
    display: none;
} */

#signup-form input[type="text"], #signup-form input[type="email"] {

    border: 1px solid #fff;
    padding: 5px 0;
    text-align: center;
    box-shadow: none;
    font-size: 13px;
    width: 250px;
    background: none;
    line-height: 20px;
    font-family: Georgia, serif;
}

input[type="text"]:focus, input[type="email"]:focus {
    outline: none;

}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.intro_txt {
    width: 90%;
    margin: 0 auto;
    line-height: 25px;
    margin-top: 50px;
    color: #fff;
    font-size: 16px;
}

.text-center {
    color: #fff;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

video#vid_bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


.button_section_contact {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
}


/* ########################## MEDIA QUERIES ########################## */

@media (max-width: 548px) {

    #logo-mobile {
        display: block;
        width: 130px;
        height: 42px;
    }

    #first_home video {
        background-color: black;
        position: absolute;
        top: 0; /*enlever si besoin*/
        left: 0;

    }

    #second_home {
        width: 100%;
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    #trois_home {
        width: 100%;
        background-image: url("../assets/img/bg2.jpg");
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    #quatre_home {
        width: 100%;
        background-image: url("../assets/img/bg3.jpg");
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    #cinq_home {
        width: 100%;
        background-color: #161c23;
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    /* ###### MENU POUR MOBILE ###### */
    .mod-navigation {
        background-color: #000;
        z-index: 10;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        position: fixed;
        right: 0;
        height: 100% !important;
        width: 0px;
    }

    .mod-navigation.open {
        width: 100%;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .mod-navigation .menuList {
        padding: 70px 0 2px 54px;

    }

    .mod-navigation .menuList > li a:before {
        display: none;
    }

    .mod-navigation .menuList > li a {
        color: #e1e1e1;
        display: block;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        margin-left: 20px;
        position: relative;
        white-space: nowrap;
        vertical-align: bottom;
        font-weight: 600;
        text-decoration: none;
        outline: none;
    }

    .mod-navigation .socialNet {
        width: 100%;
        left: 700px;
        margin: 0;
        padding: 0;
        position: inherit;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: 4;
    }

    .mod-navigation .socialNet > li {
        list-style-type: none;
        margin: 0;
        display: inline-block;
        width: 20%;

    }

    .mod-navigation .socialNet > li a {
        color: white;
        font-size: 14px;
        position: inherit;
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
        outline: none;
    }

    .mod-navigation.open .socialNet {
        width: 100%;
        margin: 0 auto;
        margin-left: 25px;
        -webkit-transition: all .8s ease-in-out;
        transition: all .8s ease-in-out;
    }
}

/* ###### FIN MENU POUR MOBILE ###### */


