@font-face {
    font-family: "Gotham-light";
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: "Gotham-light-Italic";
    src: url('../fonts/Gotham-LightItalic.otf');
}

@font-face {
    font-family: "Gotham-Bold";
    src: url('../fonts/Gotham-bold.OTF');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Gotham-light, sans-serif;
}

.wrapper,
body,
html {
    width: 100%;
    height: 100%
}

h1{
    font-family: Georgia, serif;
}

.wrapper {
    position: relative;
    /*overflow: hidden*/
}

.navbar-nav ul li a {
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-nav ul li a:hover {
    color: red;
    background: transparent;
}

section {
    text-align: center;
    height: auto !important;
    min-height: 100%;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo-mobile {
    display: none;
}

#loading_home {
    height: 100% !important;
    width: 100%;
    background-color: #1d1e22;
    background-size: cover;
    position: fixed; /*enlever si besoin*/
    top: 0; /*enlever si besoin*/
    left: 0; /*enlever si besoin*/
    transition: all 1.5s;
    z-index: 900000;
}

#loadCercle {
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#first_home {
    transition: 0.8s;
    background-color: #1d1e22;
}

.studio_first {
    background-color: transparent;
}

.studio_second {
    background-image: url("../assets/img/bg-section1.jpg");
}

#first_home video {
    position: fixed; /*enlever si besoin*/
    top: 0; /*enlever si besoin*/
    left: 0; /*enlever si besoin*/
    background-color: black;
}

#second_home {
    width: 100%;
    /*background-color:rosybrown;*/
    background-size: cover;
    position: fixed; /*enlever si besoin*/
    top: 100%; /*enlever si besoin*/
    left: 0; /*enlever si besoin*/
    transition: top 0.8s;
}

#trois_home {
    width: 100%;
    /* background-color:#17423C;*/
    background-color: #181f27;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

#quatre_home {
    width: 100%;
    background-color: #161c23;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

#cinq_home {
    width: 100%;
    background-image:url("../assets/img/emotion.gif");
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;

}

#six_home {
    width: 100%;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

.studio_cinq {
    background-color: #161c23;
}

#six_home {
    width: 100%;
    background-color: #161c23;
    background-size: cover;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top 0.8s;
}

/* ####### PAGE PROJET ###### */

#projet_1 {
    background-image: url("../assets/img/bg_equipe1.jpg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#projet_2 {
    background-image: url("../assets/img/bg_equipe2.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#projet_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title_project {
    position: fixed;
    z-index: 2;
    font-size: 50px;
    top: 50%;
    transition: 0.8s;
}

.title_project ul {
    list-style: none;
}

.title_project ul li {
    cursor: pointer;
    transition: all 0.8s;
    opacity: 0.7;
    text-align: left;
    color: white;
}

.title_project ul li.active {
    font-family:Gotham-Bold, sans-serif;
    font-size: 65px;
    opacity: 1;
    transition: all 0.8s;
}

/* ####### FIN PAGE PROJET ###### */


/* ####### PAGE ROMANTIQUE ###### */

#romantique_1 {
    background-image: url("../assets/img/romantique/dirty-dancing.jpg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#romantique_2 {
    background-image: url("../assets/img/romantique/notebook.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#romantique_3 {
    background-image: url("../assets/img/romantique/Pretty-Woman.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#romantique_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ####### FIN PAGE ROMANTIQUE ###### */

/* ####### PAGE CAPITAINE ###### */

#capitaine_1 {
    background-image: url("../assets/img/capitaine/pirates.jpg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#capitaine_2 {
    background-image: url("../assets/img/capitaine/gladiator.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#capitaine_3 {
    background-image: url("../assets/img/capitaine/300.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#capitaine_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ####### FIN PAGE CAPITAINE ###### */

/* ####### PAGE FANATIQUE ###### */

#fanatique_1 {
    background-image: url("../assets/img/fanatique/rocky.jpeg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#fanatique_2 {
    background-image: url("../assets/img/fanatique/Never_Back_Down.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#fanatique_3 {
    background-image: url("../assets/img/fanatique/steppin.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#fanatique_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ####### FIN PAGE FANATIQUE ###### */

/* ####### PAGE JUSTICIER ###### */

#justicier_1 {
    background-image: url("../assets/img/justicier/superman.jpeg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#justicier_2 {
    background-image: url("../assets/img/justicier/indiana.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#justicier_3 {
    background-image: url("../assets/img/justicier/dredd.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#justicier_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ####### FIN PAGE JUSTICIER ###### */

/* ####### PAGE MENTOR ###### */

#mentor_1 {
    background-image: url("../assets/img/mentor/matrix.jpg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#mentor_2 {
    background-image: url("../assets/img/mentor/ipman.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#mentor_3 {
    background-image: url("../assets/img/mentor/gran-torino.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#mentor_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ####### FIN PAGE MENTOR ###### */

/* ####### PAGE PSYCOPATHE ###### */

#psychopathe_1 {
    background-image: url("../assets/img/mentor/matrix.jpg");
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;

}

#psychopathe_2 {
    background-image: url("../assets/img/mentor/ipman.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#psychopathe_3 {
    background-image: url("../assets/img/mentor/gran-torino.jpg");
    width: 100%;
    background-size: cover;
    top: 100%;
    left: 0;
    position: fixed;

}

#psychopathe_1 ul li {
    font-size: 35px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ####### FIN PAGE MENTOR ###### */

/* ####### PAGE EQUIPE ###### */

.equipe_first {
    background-color: black;
}

.equipe_first h1 {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
}

.equipe_second {
    background-color: grey;
}

.equipe_second h1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
}

/* ####### FIN PAGE EQUIPE ###### */

.text_section {
    margin-top: 40px;
    font-size: 19px;
}

/* ###### SECTION 1 ###### */

.global_text_section1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.title_section_1 {
    margin: 0 auto;
    color: white;
    font-size: 27px;
    line-height: 40px;
    font-family: Georgia, serif;
}

.text_section_1 {
    color: white;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    line-height: 27px;
}

.button_section_player {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #e9dccb solid;
    color: #e9dccb;
    background: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.button_section_player:hover {
    background-color: rgba(233, 220, 203, 0.3);
    transition: all .7s;
}

.button_section_player a {
    text-decoration: none;
    color: white;
}

.button_section_player a:hover {
    text-decoration: none;
    color: white;
}

#imgplayer {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px #dac9ae solid;
    line-height: 32px;
    margin-left: 8px;
    /* padding-left: 4px; */
}

.button_section_player:hover #imgplayer {
    border: 2px #fff solid;
}

.button_section_player:active #imgplayer {
    border: 2px #c9b2a0 solid;
}

.btn-experience a {
    color: white;
}

.btn-experience a:hover {
    text-decoration: none;
    color: white;
}

.btn-experience {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
}

.btn-experience:hover {
    color: #ffffff;
    background-color: rgba(238, 223, 204, 0.3);
    transition: all .7s;
}

.btn_section_player img {
    margin-left: 20px;
    margin-bottom: 3px;
}

.img_middle_section_first {
    background-image: url("../assets/img/circle-white.png");
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%) scale(1);
}

.img_triples_circle {
    background-image: url("../assets/img/triple-circle-white.png");
    background-repeat: no-repeat;
    width: 560px;
    height: 560px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.logo-small {
    position: absolute;
    z-index: 9000;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
}

/* ###### FIN SECTION 1 ###### */

/* ###### SECTION 2 : EXPERT ###### */

.image-expert {
    width: 250px;
    height: 250px;
}

.expert_global {
    margin-top: 14%;
    margin-left: 7%;
}

.title_section_2 {
    text-align: left;
    line-height: 60px;
    font-family: Georgia, serif;
}

.text_section_2 {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
    line-height: 25px;
}

.align_btn_exp {
    text-align: left;
}

.button_section_expert {
    width: 280px;
    font-size: 20px;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: white;
    background: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.button_section_expert:hover {
    color: #ffffff;
    background-color: rgba(238, 223, 204, 0.3);
    transition: all .7s;
}

.button_section_expert:active {
    color: #ffffff;
    background-color: #c9b2a0;
    border: 2px #c9b2a0 solid;
}

.title_section {
    font-size: 24px;
    margin-top: 13%;

}

/* ###### FIN SECTION 2 : EXPERT ###### */

/* ###### ANIM CERCLE SECTION 1 ###### */

/* ###### SECTION 3 : SUITE EXPERT ###### */
.title_section_3 {
    line-height: 60px;
    margin: 0 auto;
    margin-top: 10%;
    font-family: Georgia, serif;
}

/* ###### FIN SECTION 3 : SUITE EXPERT ###### */

/* ###### SECTION 4 : EXPERIENCEEEE ###### */

.title_section_4 {
    margin: 0 auto;
    color: white;
    font-size: 27px;
    line-height: 40px;
}

/* ###### SECTION 4 : EXPERIENCEEEE ###### */

.img_middle_section_first {
    background-image: url("../assets/img/circle-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 580px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 2s ease;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform-origin: center center;
}

.text_section_4 {
    color: white;
    font-size: 16px;
    margin-top: 40px;

    line-height: 27px;
}

/*
@keyframes scaleC {
0% {
transform: translate(-50%, -50%) scale(0);
}
100% {
transform: translate(-50%, -50%) scale(1)
}
}
*/

.current .img_middle_section_first.c1 {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

.current .img_middle_section_first.c2 {

    transform: translate(-50%, -50%) rotate(-4deg) scale(.982);
}

.current .img_middle_section_first.c3 {

    transform: translate(-50%, -50%) rotate(-6deg) scale(.98);
}

.current .img_middle_section_first.c4 {

    transform: translate(-50%, -50%) rotate(-7deg) scale(.978);

}

/* ###### FIN ANIM CERCLE SECTION 1 ###### */

/* ###### ANIM CERCLE SECTION CONTACT ###### */

.img_middle_section_six {
    background-image: url("../assets/img/circle-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 580px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 2s ease;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform-origin: center center;

}

/*

.current .img_middle_section_six.c1 {
    transform: translate(-50%, -50%) rotate(0deg)  scale(1);
}
.current .img_middle_section_six.c2 {

    transform: translate(-50%, -50%) rotate(-4deg) scale(.982) ;
}
.current .img_middle_section_six.c3 {

    transform: translate(-50%, -50%) rotate(-6deg) scale(.98) ;
}
.current .img_middle_section_six.c4 {

    transform: translate(-50%, -50%) rotate(-7deg) scale(.978) ;

}

*/

/* ###### FIN ANIM CERCLE SECTION CONTACT ###### */

.section_team h2 {
    color: #cfb995;
    font-family: Gotham-light-Italic, sans-serif;
}

.section_team {
    margin-top: 6%;
}

/* ###### FIN SECTION 3 : TEAM ###### */

.global_text_section5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* ###### SECTION 6 ###### */

.global_text_section6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.button_section_contact {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.button_section_contact:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #eedecb;
    border: 2px #eedecb solid;
}

.button_section_contact:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #c9b2a0;
    border: 2px #c9b2a0 solid;
}

#imgplayer {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px #e9dccb solid;
    line-height: 32px;
    margin-left: 8px;
    /* padding-left: 4px; */
}

.button_section_player:hover #imgplayer {
    border: 2px #e9dccb solid;
}

.btn-experience a {
    color: white;
    text-decoration: none;
}

.btn-experience a:hover {
    text-decoration: none;
    color: white;

}

.btn_section_player img {
    margin-left: 20px;
    margin-bottom: 3px;
}

.img_middle_section_six {
    background-image: url("../assets/img/circle-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 580px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
}

.logo-small {
    position: absolute;
    z-index: 9000;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
}

/* ###### FIN SECTION 6 ###### */

/* ###### PAGE EXPERIENCE ###### */

.img-experience {;
    background-image: url("../assets/img/bg-experience/bg_amour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .7s
}

.img-experience .img_circle_exper {
    border: 15px solid rgba(0, 0, 255, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .7s;
}

.img-experience .img_circle_exper:hover {
    border: 15px solid rgba(94, 94, 92, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .7s;
}

.img-experience .img_circle_exper:active {
    border: 15px solid rgba(94, 94, 92, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.text_equipe {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 17px;
}

.title_nom_experience h1 {
    font-family:Gotham-Bold, sans-serif;
    margin-top: 50px;
    font-size: 80px;
    font-weight: 600;
    color: white;
}

.emotion {
    animation: emotion 1.2s;
    text-transform: uppercase;
}

@keyframes emotion {
    0% {
        /*
        text-shadow: 0 0 50px #fff;
        */
        filter: blur(5px);
        -webkit-filter: blur(5px);

    }
    100% {
        /*
        text-shadow: 0 0 0px #fff;
        */
        filter: blur(0px);
        -webkit-filter: blur(0px);

    }

}

.name_sentiment {
    transition: all 2s;
}

.saisir_experience p {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
}

.retour_experience {
    z-index: 6;
    position: absolute;
    top: 50px;
    right: 8%;
    color: white;
    font-size: 18px;
    transition: all 1s;
}

.retour_experience a {
    text-decoration: none;
    color: white;
}

.retour_experience a:hover {
    text-decoration: none;
    color: white;
    border-bottom:1px solid white;
}

.text_exp_video{
    position:absolute;
    width:500px;
    top:35%;
    right:3%;
    z-index: 9000;
}

.descrip_film{
    z-index: 9000;
    background-color:rgba(21,28,36,0.3);
}

.descrip_film>p{
    font-size:17px;
    color:white;
    font-family:Georgia, sans-serif;
    line-height:25px;
    padding:20px;
    text-align:justify;
}

.btn_film{
    z-index: 1000;
    background-color:#151c24;
    padding: 0px 22px 18px 22px;

}

.button_section_film {
    display:inline-block;
    width: 200px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left:10px;
    padding: 13px 22px 13px 22px;
    border: 2px #e9dccb solid;
    color: #e9dccb;
    background: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.button_section_film:hover {
    background-color: rgba(233, 220, 203, 0.3);
    transition: all .7s;
}

.button_section_film a {
    text-decoration: none;
    color: white;
}

.button_section_film a:hover {
    text-decoration: none;
    color: white;
}



/* ###### FIN PAGE EXPERIENCE ###### */

/* ###### MOUSE EFFET ###### */

.mouse-wrapper {
    opacity: 1;
}

.mod-section-home div.mouse-wrapper .mouse {
    bottom: 35px;
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 37px;
    background-image: url("../assets/img/mouse.png");
    background-size: 100%;
    left: 50%;
    margin-left: -11px;
}

.mod-section-home div.mouse-wrapper .mouse > span.dot {
    width: 5px;
    height: 8px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    animation-fill-mode: forwards;
    -webkit-animation: Kb 1.2s infinite;
    animation: Kb 1.2s infinite;
    -webkit-animation-fill-mode: forwards;

}

.mod-section-home div.mouse-wrapper.animout {
    -webkit-animation: Jb 1s 1;
    animation: Jb 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.mod-section-home div.mouse-wrapper.anim {
    -webkit-animation: Pb 1s 1s 1;
    animation: Pb 1s 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.mod-section-home div.mouse-wrapper.anim-finish {
    opacity: 1
}

@-webkit-keyframes Kb {
    0% {
        opacity: .2;
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px)
    }
}

/* ###### FIN MOUSE EFFET ###### */

/* ###### DOTSTYLE MENU ###### */

.mod-navigation.open {
    width: 250px;
    background-color: #000;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mod-navigation.open .nav-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    right: 0;
}

.mod-navigation.open .nav-icon span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.mod-navigation.open .nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
    right: 0;
}

.mod-navigation {
    background-color: transparent;
    z-index: 10;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: fixed;
    right: 0;
    height: 100%;
    width: 60px;
}

.mod-navigation .nav-icon {
    width: 26px;
    height: 20px;
    right: 18px;
    top: 40px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9;
}

.mod-navigation .nav-icon,
.mod-navigation .nav-icon span {
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.mod-navigation .nav-icon span {
    display: block;
    height: 1px;
    background: #ffffff;
    opacity: 1;
    right: 0;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border-radius: 3px;
    width: 24px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    border: 1px solid hsla(48, 3%, 61%, .7);
}

.mod-navigation .nav-icon span:nth-child(1) {
    top: 0;
}

.mod-navigation .nav-icon span:nth-child(2) {
    top: 8px;
}

.mod-navigation .nav-icon span:nth-child(3) {
    top: 17px;
}

.mod-navigation .menuList {
    background-color: transparent;
    display: block;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 96px 0 20px 54px;
    top: 0;
    z-index: 4;
}

.mod-navigation .menuList > li {
    margin-bottom: 20px;
}

.mod-navigation .menuList > li a {
    color: #e1e1e1;
    display: block;
    font-family: Gotham-light, sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    padding-right: 22px;
    position: relative;
    white-space: nowrap;
    vertical-align: bottom;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}

.mod-navigation .menuList > li a:before {
    border-radius: 50%;
    background-color: #282828; /*ez*/
    content: " ";
    display: inline-block;
    height: 11px;
    width: 11px;
    position: relative;
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
}


.mod-navigation .menuList > li a.active:before {
    background-color: #e1e1e1;
}

.mod-navigation .menuList > li a:hover {
    text-decoration: none;

}

.mod-navigation .menuList > li a > span {
    display: block;
}

.mod-navigation.open .menuList {
    left: 0;
    -webkit-transition: all .6s ease-in-out;
    background-color:#1a1a1a;
    transition: all .6s ease-in-out;
}

.mod-navigation .metaList {
    left: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 4;
}

.mod-navigation .metaList > li {
    list-style-type: none;
    margin: 0;
}

.mod-navigation .metaList > li a {
    border-bottom: 1px solid #1a1a1a;
    color: #e1e1e1;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
    padding: 15px 22px 15px 60px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    text-decoration: none;
    outline: none;
}

.mod-navigation .metaList > li a.active {
    background-color: #1a1a1a;

}

.mod-navigation .metaList > li a:hover {
    text-decoration: none;
}

.mod-navigation .metaList > li a:hover > .fleche_list {
    left: -32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mod-navigation.open .metaList {
    left: 0;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.fleche_list {
    position: absolute;
    left: -40px;
}


.span_hover{
    position: absolute;
    right: -60px;
    top: -6px;
    padding: 5px;
    visibility: hidden;
    transition:all .6s;
}

/*dot nav autre page*/

.mod-navigation .menuNoDot {
    background-color: transparent;
    display: block;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 96px 0 20px 60px;
    top: 0;
    z-index: 4;
}

.mod-navigation .menuNoDot > li {
    margin-bottom: 20px;
}

.mod-navigation .menuNoDot > li a {
    color: #e1e1e1;
    display: block;
    font-family: Gotham-Bold, sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    padding-right: 22px;
    position: relative;
    white-space: nowrap;
    vertical-align: bottom;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}



.mod-navigation .menuNoDot > li a:hover {
    text-decoration: none;

}

.mod-navigation .menuNoDot> li a > span {
    display: block;
}

.mod-navigation.open .menuNoDot {
    left: 0;
    -webkit-transition: all .6s ease-in-out;
    background-color:#1a1a1a;
    transition: all .6s ease-in-out;
}


/*SOCIAL NETWORK*/

.mod-navigation.open .socialNet {
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out
}

.mod-navigation .socialNet {
    width: 100%;
    left: 300px;
    bottom: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 4;
}

.mod-navigation .socialNet > li {
    list-style-type: none;
    margin: 0;
    display: inline-block;

}

.mod-navigation .socialNet > li a {
    color: white;
    font-size: 14px;
    padding: 15px;
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    outline: none;
}

.mod-navigation.open .socialNet {

    left: 20px;
    bottom: 35px;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.mod-navigation .socialNet > li a.active {
    background-color: #1a1a1a;

}

/* ###### FIN DOTSTYLE MENU ###### */

/* ###### VIDEO HOME ###### */

.video-btn-wrapper .video-btn {
    margin: 0 auto;
    width: 157px;
    height: 108px;
    background-image: url("../assets/img/btn-play.png");
    margin-top: 8%;
}

.video-btn-wrapper .video-btn:hover {
    cursor: pointer;
    -webkit-animation: a 1.5s steps(50) 1;
    animation: a 1.5s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes a {
    0% {
        background-position: 0
    }
    to {
        background-position: -7850px
    }
}

@keyframes a {
    0% {
        background-position: 0
    }
    to {
        background-position: -7850px
    }
}

/* ###### FIN VIDEO HOME ###### */

.text_first_home {
    margin-top: 100px;
}

.text_first_home p {
    font-size: 25px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.text_first_home p.home_description {
    font-size: 15px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 7%;
}

.title_home {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 55px;
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
}

.title_home > span {
    border-bottom: 2px solid #e1e1e1;
}

.fleche {
    position: absolute;
    bottom: 35px;
    left: 50%;
    color: white;
}

.fleche:hover {
    color: grey;
    cursor: pointer;
}

.list_home {
    height: 100%;
}

.img_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

video {
    z-index: -2;
}

.img {
    margin: 0 auto;
    display: block;
    margin-top: 13%;
    z-index: 9000;
}

.text_const {
    font-size: 50px;
    font-weight: 700;
}

#signup-form {
    margin-top: 20px;
    font-size: 15px;
}

.newsletter {
    color: #fff;
    margin-bottom: 15px;
    font-size: 17px;
}

/* #name {
    display: none;
} */

#signup-form input[type="text"], #signup-form input[type="email"] {

    border: 1px solid #fff;
    padding: 5px 0;
    text-align: center;
    box-shadow: none;
    font-size: 13px;
    width: 250px;
    background: none;
    line-height: 20px;
    font-family: Georgia, serif;
}

/* input[type="text"]:focus, input[type="email"]:focus {
    outline: none;

} */

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.intro_txt {
    width: 90%;
    margin: 0 auto;
    line-height: 25px;
    margin-top: 50px;
    color: #fff;
    font-size: 16px;
}

.text-center {
    color: #fff;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

video#vid_bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.button_section_send {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 16px 25px 16px 25px;
    border: 2px #dac9ae solid;
    color: #dac9ae;
    background: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.button_section_send:disabled {
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 16px 25px 16px 25px;
    border: 2px #818181 solid;
    color: #818181;
    background: none;
    cursor: pointer;
    text-align: center;
}

/* ######### CONTACT.HTML ########## */

form { max-width:420px; margin:25px auto; }

.feedback-input {
    color: #818181 ;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    border-color: #818181 ;
    font-size: 18px;
    border-width: 0 0 2px 0;
    line-height: 22px;
    background-color: transparent;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}


textarea {
    height: 125px;
    line-height: 150%;
    resize:vertical;
}

.focused {
    color: #cecece;
    border-color: #cecece;
}

.contact_first {
    background-color: black;
}

.contact_first h1 {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

#page_contact {
    transition: 0.8s;
    background-color: #1d1e22;
}

/*.img_triples_circle_contact {
    background-image: url("../assets/img/triple-circle-white-contact.png");
    background-repeat: no-repeat;
    width: 560px;
    height: 700px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
} */

#RS a {
    padding: 0px 10px;
    color: white;
}

/* ######### FIN CONTACT.HTML ########## */

.title_home_mobile {
    display: none;
}

/* ########################## MEDIA QUERIES ########################## */



@media (max-width: 1180px) {

    #projet_1 ul li {
        font-size: 20px;
        position: fixed;
        top: 18%;
        left:15%;
        transform: translate(-50%, -50%);
    }

    .title_project {
        position: fixed;
        z-index: 2;
        font-size: 30px;
        top: 18%;
        left:15%;
        transition: 0.8s;
    }

    .title_project ul {
        list-style: none;
    }

    .title_project ul li {
        cursor: pointer;
        transition: all 0.8s;
        opacity: 0.7;
        text-align: left;
        color: white;
    }

    .title_project ul li.active {
        font-family:Gotham-Bold, sans-serif;
        font-size: 40px;
        font-weight:800;
        opacity: 1;
        transition: all 0.8s;
    }


    .text_exp_video{
        position:absolute;
        width:80%;
        top:70%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 9000;
    }

}




@media (max-width: 768px) {

    .title_section_1{
        width: 60%;
        margin: 0 auto;
    }
    .text_section_1{
        width: 60%;
        margin: 0 auto;
    }

    .title_section_3 {
        margin-top: 15%;
    }


    .title_section_4{
        width: 60%;
        margin: 0 auto;
    }
    .text_section_4{
        width: 60%;
        margin: 0 auto;
    }

    .page_experience{
        margin-top:10%;
    }

    .btn-experience {
        margin-bottom: 40px;
    }

    /*######### PAGE FILM CATALOGUE EXP ###### */

    #projet_1 ul li {
        font-size: 13px;
        position: fixed;
        top: 18%;
        left:15%;
        transform: translate(-50%, -50%);
    }

    .title_project {
        position: fixed;
        z-index: 2;
        font-size: 20px;
        top: 18%;
        left:15%;
        transition: 0.8s;
    }

    .title_project ul li.active {
        font-size: 30px;
        font-weight:800;
        opacity: 1;
        transition: all 0.8s;
    }

}



@media (max-width: 548px) {

    html, body {
        overflow: visible;
    }

    #logo-mobile {
        display: block;
        width: 130px;
        height: 42px;
    }

    #first_home video {
        background-color: black;
        position: absolute;
        top: 0; /*enlever si besoin*/
        left: 0;

    }

    #second_home {
        width: 100%;
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    #trois_home {
        width: 100%;
        position: inherit;
        background-color: #181f27;
        transition: top 0.8s;
    }

    #quatre_home {
        width: 100%;
        position: inherit;
        transition: top 0.8s;
        background-color: #181f27;
        padding-bottom: 50px;
    }

    #cinq_home {
        width: 100%;
        background-color: #161c23;
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    #six_home {
        width: 100%;
        background-color: #181f27;
        background-size: cover;
        position: inherit;
        transition: top 0.8s;
    }

    /* ###### MENU POUR MOBILE ###### */
    .mod-navigation {
        background-color: #000;
        z-index: 10;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        position: fixed;
        right: 0;
        height: 100% !important;
        width: 0px;
    }

    .mod-navigation.open {
        width: 100%;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .mod-navigation .menuList {
        padding: 70px 0 2px 54px;

    }

    .mod-navigation .menuList > li a:before {
        display: none;
    }

    .mod-navigation .menuList > li a {
        color: #e1e1e1;
        display: block;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        margin-left: 20px;
        position: relative;
        white-space: nowrap;
        vertical-align: bottom;
        font-weight: 600;
        text-decoration: none;
        outline: none;
    }

    .mod-navigation .socialNet {
        width: 100%;
        left: 700px;
        margin: 0;
        padding: 0;
        position: inherit;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: 4;
    }

    .mod-navigation .socialNet > li {
        list-style-type: none;
        margin: 0;
        display: inline-block;
        width: 20%;

    }

    .mod-navigation .socialNet > li a {
        color: white;
        font-size: 14px;
        position: inherit;
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
        outline: none;
    }

    .mod-navigation.open .socialNet {
        width: 100%;
        margin: 0 auto;
        margin-left: 25px;
        -webkit-transition: all .8s ease-in-out;
        transition: all .8s ease-in-out;
    }

    /* ###### FIN MENU POUR MOBILE ###### */
    /* ###### SECTION 1 ###### */
    .logo-small {
        display: none;
    }

    .global_text_section6 {
        position: inherit;
        margin: 0 auto;
    }

    .global_text_section1 {
        position: relative;
        margin-top: 180px;
        transform: inherit;
        left: inherit;
    }

    .img_middle_section_first {
        display: none;
    }

    .vjs-fullscreen-control{
        display:none;
    }

        /* ###### FIN SECTION 1 ###### */
    /* ###### SECTION 2 ###### */
    .title_home_mobile {
        display: inherit;
        font-size: 22px;
        margin-top: 10%;
        line-height: 40px;
    }

    .title_section_2 {
        display: none;
    }

    .image-expert {
        width: 220px;
        height: 220px;
    }

    .expert_global {
        margin-top: 10%;
    }

    .text_section_2 {
        color: white;
        font-size: 16px;
        margin-top: 20px;
        text-align: justify;
        line-height: 25px;
    }

    .align_btn_exp {
        text-align: center;
        margin-top: 40px;
        padding-bottom: 50px;
    }

    .button_section_expert {
        margin: 0 auto;
    }

    /* ###### FIN SECTION 2 ###### */
    /* ###### SECTION 3 ###### */
    .title_section_3 {
        font-size: 22px;
        line-height: 40px;
        margin-top: 10%;
    }

    /* ###### FIN SECTION 3 ###### */
    /* ###### SECTION 4 ###### */
    .img_triples_circle {
        background-image: url("../assets/img/triple-circle-white-mobile.png");
        background-repeat: no-repeat;
        width: 450px;
        height: 450px;
        position: relative;
        top: 80px;
        left: inherit;
        transform: inherit;
        margin: 0 auto;

    }

    .global_text_section5 {
        position: static;
        margin: 0;
        transform: inherit;
        left: inherit;
    }

    .global_text_section5 h1{
        margin-top:70px;
    }

    /* ###### FIN SECTION 4 ###### */

    .vid1-dimensions {
          width:50px;
          height:50px;
      }

    .dirty-dancing-dimensions {
        width:50px;
        height:50px;
    }

    .mouse-wrapper{
        display:none;
    }


    /*##############PAGE EXPERIENCE */

    .title_nom_experience h1{

        margin-top: 50px;
        font-size: 40px;
        font-weight: 700;

    }

    .retour_experience {
        right: 30%;
    }
    .img_triples_circle {
        display:none;
    }


}



@media (max-width: 475px) {

    .img_triples_circle {
        display:none;
    }

    .global_text_section5 h1{
        margin-top:130px;
    }

    #logo{
        width:267px;
        height:87px;
    }



}

