html, body{
    margin: 0;
    padding: 0;
}

.wrapper,
body,
html {
    width: 100%;
    height: 100%
}


.wrapper {
    position: relative;
    /*overflow: hidden*/
}

.navbar-nav ul li a{
    color:white;
    font-size:16px;
    margin-top:15px;
    margin-left:15px;
}

.navbar-nav ul li a:hover{
    color:red;
    background: transparent;
}

 section{
    text-align: center;
    height:auto!important;
    min-height:100%;
    background-attachment: scroll;
    background-size: cover;
    overflow:hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#first_home{
    transition:0.8s
}

.studio_first{
    background-color:transparent;
}

.studio_second{
    background-image:url("../assets/img/bg1.jpg");
}

#first_home video{
    position: fixed;/*enlever si besoin*/
    top:0;/*enlever si besoin*/
    left:0;/*enlever si besoin*/
    background-color:black;
}

#second_home {
    width:100%;
    /*background-color:rosybrown;*/
    background-size:cover;
    position:fixed;/*enlever si besoin*/
    top:100%;/*enlever si besoin*/
    left:0;/*enlever si besoin*/
    transition:top 0.8s;
}

#trois_home {
    width:100%;
   /* background-color:#17423C;*/
    background-image:url("../assets/img/bg2.jpg");
    background-size:cover;
    position:fixed;
    top:100%;
    left:0;
    transition:top 0.8s;
}

#quatre_home {
    width:100%;
    background-image:url("../assets/img/bg3.jpg");
    background-size:cover;
    position:fixed;
    top:100%;
    left:0;
    transition:top 0.8s;
}


/* ####### PAGE PROJET ###### */

#projet_1{
    background-image:url("../assets/img/bg_equipe1.jpg");
    width:100%;
    background-size:cover;
    top:0;
    left:0;
    position: fixed;

}

#projet_2{
    background-image:url("../assets/img/bg_equipe2.jpg");
    width:100%;
    background-size:cover;
    top:100%;
    left:0;
    position: fixed;

}

#projet_1 ul li{
    font-size:35px;
    position:fixed;
    top:50%;
    transform:translate(-50%,-50%);
}

.title_project{
    position:fixed;
    z-index:9000;
    font-size:50px;
    top:50%;
    transition:0.8s;
}

.title_project ul{
    list-style:none;
}

.title_project ul li{
    cursor:pointer;
    transition:all 0.8s;
}

.title_project ul li.active{
    font-size:65px;

}

/* ####### FIN PAGE PROJET ###### */

/* ####### PAGE EQUIPE ###### */

.equipe_first{
    background-color:black;
}

.equipe_first h1{
    width:50%;
    margin:0 auto;
    margin-top:20%;
}

.equipe_second{
    background-color:grey;
}

.equipe_second h1{
    width:60%;
    margin:0 auto;
    margin-top:15%;
}

/* ####### FIN PAGE EQUIPE ###### */

/* ####### PAGE CONTACT ###### */


.text_contact{
    margin-top:30px;
}

.text_contact p{
    font-size:17px;
}




/* ####### FIN PAGE CONTACT ###### */

.title_section{
    margin-top:20%;
}

.text_section{
    margin-top:40px;
    font-size:19px;
}

.text_equipe{
    width:70%;
    margin:0 auto;
    margin-top:10%;
    font-size:17px;
}

.fleche{
    margin-top:13%;
}

.fleche:hover{
    color:grey;
    cursor:pointer;
}

/* ###### DOTSTYLE MENU ###### */

.vertical_nav{
    background-color:#1a1a1a;
    position:fixed;
    right:0;
    top:0;
    width:16%;
    height:100%;
    z-index:10;
}

.optionMenu i{
    position:absolute;
    right:2%;
    top:3%;
    color:white;
    z-index: 9000;
    cursor:pointer;
}

.mod-navigation .menuList {
    background-color: #1a1a1a;
    display: block;
    left: 300px;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 96px 0 20px 54px;
    top: 0;
    z-index: 4;
}

.mod-navigation .menuList>li {
    margin-bottom: 20px
}

.mod-navigation .menuList>li a {
    color: #e1e1e1;
    display: block;
    font-family: rimowa_headbold, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    padding-right: 22px;
    position: relative;
    white-space: nowrap;
    vertical-align:bottom;
}


.mod-navigation .menuList>li a:before {
    border-radius: 50%;
    background-color: #282828;
    content: " ";
    display: inline-block;
    height: 11px;
    width: 11px;
    position: relative;
    -webkit-transform: translate(-30px);
    transform: translate(-30px);

}

.mod-navigation .menuList>li a.active:before {
    background-color: #e1e1e1;
}

.mod-navigation .menuList>li a>span {
    display: block;
}

.mod-navigation.open .menuList {
    left: 0;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

    /* ###### FIN DOTSTYLE MENU ###### */
.wrapper-design{
    position: relative;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 3%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.design {
    position: fixed;
    height: 200%;
    width: 100%;
    left: 0;
    top: 10%;
    transition:1.8s;
}

.design-2{
    display: block;
    position: absolute;
    width: 35%;
    height: 0;
    padding: 0 0 30.5%;
    top: 10%;
    right: -12.5%;
    background-image: url(../assets/img/design-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 9000;
    transform: translate(0%, 10%) translate3d(0px, 0px, 0px);
    transition:0.8s;
}








video{
    z-index: -2;
}


.img{
    margin: 0 auto;
    display : block;
    margin-top:13%;
    z-index:9000;
}


.text_const{
    font-size:50px;
    font-weight:700;
}


#signup-form {
    margin-top: 20px;
    font-size: 15px;
}

.newsletter{
    color: #fff;
    margin-bottom: 15px;
    font-size:17px;
}

#name {
    display: none;
}

#signup-form input[type="text"], #signup-form input[type="email"] {
    
    border: 1px solid #fff;
    padding: 5px 0;
    text-align: center;
    box-shadow: none;
    font-size: 13px;
    width: 250px;
    background:none;
    line-height: 20px;
    font-family: Georgia, serif;
}



input[type="text"]:focus, input[type="email"]:focus{
    outline: none;

}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#status {
    font-weight: 300;
    font-size: 25px;
    margin-top: 75px;
    color: green;
}

.intro_txt{
    width:90%;
    margin:0 auto;
    line-height:25px;
    margin-top:50px;
    color: #fff;
    font-size: 16px;
}

.text-center {
    color: #fff;   
}

* {  -moz-box-sizing: border-box; box-sizing: border-box;}

.button_news{
    font-family: Georgia, serif;
    border: 1px solid #fff;
    color: rgb(50, 50, 50);
    padding: 5px 0;
    text-align: center;
    box-shadow: none;
    font-size: 13px;
    width: 150px;
    margin-left: -5px;
    background-color: rgba(255, 255, 255, 1);
    line-height: 20px;
}

.button_news:hover{
    color: rgb(45, 45, 45);
    background: rgba(255, 255, 255, 1);
    transition: background 0,10s;
    transition: color 0,1s;
}

#RS {
    margin-top: 30px;
}

#RS a {
    padding:10px;
    color: #fff;
    }

video#vid_bg{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


footer{
    width: 100%;
    font-size:12px;
}



/* ########################## MEDIA QUERIES ########################## */

@media(max-width:850px){
    video#vid_bg{
        opacity:0;
    }

    #logo{
        width:259px;
        height:93px;
    }

}

@media(max-width:548px) {
    #RS a {
        padding: 5px;
    }

    .img{
        width:251px;
        height:90px;
    }

}

@media(max-width:420px) {

    .button_news{
        margin-top:10px;
    }

}


/* A SUPPRIMER ***************/
/*
#dotNav{
    z-index: 5;
    right: 7%;
    padding: 7px;
    padding-top: 12px;
}

#dotNav a{
    color:white;
    margin-left:40px;
    width:40px;
    font-size: 17px;
    bottom: 4px;
    position: relative;
}

#dotNav ul {
    list-style: none;
    margin:0;
    position:fixed;
    right:11%;
    top:20%;
    transform:translate(-50%,-50%);
}


#dotNav li {
    position: relative;
    background: none repeat scroll 0 0 #cccccc;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 10px 10px 0px 0px;
    vertical-align:top;

}

#dotNav li.active {
    background-color: white;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
    background-repeat: repeat-x;
}
#dotNav li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
#dotNav span{
    outline: 0;
    margin-left:35px;
    color:white;
}
*/